.subtitle {
  display: flex;
  justify-content: center;
}

.subtitle__text {
  color: rgb(213, 0, 0);
  display: inline-block; 
  text-align: center;
  margin-top: -10px;
  font-size: 18px;
  padding-bottom: 20px;

}