* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading__header {
  font-size: 100px;
}

.heading__plus-icon {
  fill: rgb(213, 0, 0);
  vertical-align: -0.15em;
  margin: -1px -5px;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.subtitle__text {
  color: rgb(213, 0, 0);
  display: inline-block; 
  text-align: center;
  margin-left: -10px;
  margin-top: -10px;
  font-size: 18px;
}